@font-face {
  font-family: f1bold;
  src: url("f1_bold.ttf");
}

@font-face {
  font-family: f1reg;
  src: url("f1_regular.ttf");
}

@font-face {
  font-family: f1wide;
  src: url("f1_wide.ttf");
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

h1 {
  color: black;
  text-align: center;
  font-family: f1bold;
  font-size: 60px;
}

h2 {
  color: black;
  text-align: center;
  font-family: f1reg;
  font-size: 40px;
}

p {
  color: black;
  text-align: center;
  font-family: f1reg;
  font-size: 20px;
}

.estimate-btn {
  color: white;
  background-color: red;
  text-align: center;
  position: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 30px;
  padding-left: 30px;
  font-family: f1reg;
  font-size: 20px;
}

.centre {
  text-align: center;
}

.dt {
  width: 500px;
}
