<!DOCTYPE html>
{% extends "input_portal/base.html" %}
{% block body_block %}
    <h1>2022 Estimation Championship</h1>
    <br>
    <h2>FORMULA 1 STC SAUDI ARABIAN GRAND PRIX</h2>

    <div class="centre">
      <a href = "https://docs.google.com/forms/d/e/1FAIpQLScaco2LTignqM2ilGWELQKa1Mwbn_hGX37rHXdfzO12daGRZw/viewform?usp=sf_link" target = "_blank">
        <span class = "estimate-btn">
          enter your estimate
        </span>
      </a>
    </div>

    <p>form closes before qualyfing, currently scheduled at 22:30 IST on March 26, 2022</p>
{% endblock %}
