<!DOCTYPE html>
{% extends "input_portal/base.html" %}
{% load static %}
{% block body_block %}
    <h1>2022 Estimation Championship</h1>
  <!--  <br>
    <div style="text-align: center">
      <img src="{% static 'images/' %}trackpng_AUT.png" alt="My image" style="width: 300px">
    </div>

    <h2>FORMULA 1 ROLEX GROSSER PREIS VON ÖSTERREICH 2022</h2>


    <div style="text-align: center">
       <a href = "../static/images/racerules_GBR.jpg">
        <div class = "estimate-btn centre" style="width: 225px; ">
          race rules
        </div>
      </a>
    </div>
    <br>
    <div style="text-align: center">
      <a href = "../embed">
        <div class = "estimate-btn centre" style="width: 225px; ">
          enter your estimate
        </div>
      </a>
    <p>Please send your estimate before 8:30 pm IST on Friday, 8th July<br>Available Tools:<br>1x Free Insert<br>1x Free Swap<br>Tools Window: 9:45pm Friday, 8th July to beginning of sprint race on Saturday<br>Flat Penalty: (+15) before Sprint; (+25 after)</p>
  </div> -->

    {% if races %}
      <h2> Past Race Results </h2>
      <center>
      {% for r in races %}
        <a href = "../results/{{ r.racecode}}">
          <div style="overflow-x: auto;">
          <table class="resultTable">
            <tr>
              <td rowspan="3">
                <img src="{% static 'images/' %}{{ r.track_png }}" alt="My image" class="trackpng">
              </td>
              <td class="resultWidth">
                <span class="resultRound"> ROUND {{ r.round_no }} </span>
              </td>
            </tr>
            <tr>
              <td class="resultWidth">
               <span class = "resultCountry"> {{ r.country }} </span>
             </td>
            </tr>
            <tr>
              <td class="resultWidth">
               <span class = "resultName"> {{ r.race_name }} {{ r.year }} </span>
             </td>
           </tr>
         </table>
       </div>
        </a>
      {% endfor %}
    </center>
    {% endif %}
{% endblock %}
