<!DOCTYPE html>
{% extends "input_portal/base.html" %}
{% load static %}
{% block body_block %}
    <h1>2022 Estimation Championship</h1>
  <br>
    <div style="text-align: center">
    <!--  <img src="{% static 'images/' %}trackpng_NET.png" alt="My image" style="width: 300px">
    </div>

    <h2>FORMULA 1 HEINEKEN DUTCH GRAND PRIX 2022</h2>


    <div style="text-align: center">
       <a href = "../static/images/racerules_NET.jpg">
        <div class = "estimate-btn centre" style="width: 225px; ">
          race rules
        </div>
      </a>
    </div>
    <br>
    <div style="text-align: center">
      <a href = "../embed">
        <div class = "estimate-btn centre" style="width: 225px; ">
          enter your estimate
        </div>
      </a>
    <p>Please send your estimate before 18:30 IST/16:00 MSK/15:00 CEST/09:00 EDT/06:00 PDT on Sunday, 4th September<br>Driver no. 1 VER will be carrying double points this weekend</p>
  </div> -->

    {% if races %}
      <h2> Past Race Results </h2>
      <center>
      {% for r in races %}
        <a href = "../results/{{ r.racecode}}">
          <div style="overflow-x: auto;">
          <table class="resultTable">
            <tr>
              <td rowspan="3">
                <img src="{% static 'images/' %}{{ r.track_png }}" alt="My image" class="trackpng">
              </td>
              <td class="resultWidth">
                <span class="resultRound"> ROUND {{ r.round_no }} </span>
              </td>
            </tr>
            <tr>
              <td class="resultWidth">
               <span class = "resultCountry"> {{ r.country }} </span>
             </td>
            </tr>
            <tr>
              <td class="resultWidth">
               <span class = "resultName"> {{ r.race_name }} {{ r.year }} </span>
             </td>
           </tr>
         </table>
       </div>
        </a>
      {% endfor %}
    </center>
    {% endif %}
{% endblock %}
