<!DOCTYPE html>
{% extends "input_portal/base.html" %}
{% load static %}
{% block body_block %}
    <h2>Doesn't currently accept responses. Will be in drag and drop format. Wayyyy better than the google form lmao</h2>

    <div class="centre">
      <img src="{% static '\images\LH.jpg' %}" alt="My image" class="dt">
      <img src="{% static '\images\GR.jpg' %}" alt="My image" class="dt">
      <img src="{% static '\images\MV.jpg' %}" alt="My image" class="dt">
      <img src="{% static '\images\SP.jpg' %}" alt="My image" class="dt">
      <img src="{% static '\images\CL.jpg' %}" alt="My image" class="dt">
      <img src="{% static '\images\CS.jpg' %}" alt="My image" class="dt">
      <img src="{% static '\images\DR.jpg' %}" alt="My image" class="dt">
      <img src="{% static '\images\LN.jpg' %}" alt="My image" class="dt">
      <img src="{% static '\images\FA.jpg' %}" alt="My image" class="dt">
      <img src="{% static '\images\EO.jpg' %}" alt="My image" class="dt">
      <img src="{% static '\images\PG.jpg' %}" alt="My image" class="dt">
      <img src="{% static '\images\YT.jpg' %}" alt="My image" class="dt">
      <img src="{% static '\images\NH.jpg' %}" alt="My image" class="dt">
      <img src="{% static '\images\LS.jpg' %}" alt="My image" class="dt">
      <img src="{% static '\images\AA.jpg' %}" alt="My image" class="dt">
      <img src="{% static '\images\NL.jpg' %}" alt="My image" class="dt">
      <img src="{% static '\images\VB.jpg' %}" alt="My image" class="dt">
      <img src="{% static '\images\ZG.jpg' %}" alt="My image" class="dt">
      <img src="{% static '\images\KM.jpg' %}" alt="My image" class="dt">
      <img src="{% static '\images\MS.jpg' %}" alt="My image" class="dt">
    </div>

{% endblock %}
