<!DOCTYPE html>

{% extends "input_portal/base.html" %}

{% load static %}

{% block head_block %}
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
  <script src="jquery.ui.touch-punch.min.js"></script>
  <script>
  $( function() {
    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();
  } );
  </script>
{% endblock %}

{% block body_block %}

    <h2>Doesn't currently accept responses. Will be in drag and drop format. Wayyyy better than the google form lmao</h2>

    <div class="centre">
      <ul id="sortable">
        <li>
          <img src="{% static '\images\LH.jpg' %}" alt="My image" class="dt" id="LH">
        </li>
        <li>
          <img src="{% static '\images\GR.jpg' %}" alt="My image" class="dt" id="GR">
        </li>
        <li>
          <img src="{% static '\images\MV.jpg' %}" alt="My image" class="dt" id="MV">
        </li>
        <li>
          <img src="{% static '\images\SP.jpg' %}" alt="My image" class="dt" id="SP">
        </li>
        <li>
          <img src="{% static '\images\CL.jpg' %}" alt="My image" class="dt" id="CL">
        </li>
        <li>
          <img src="{% static '\images\CS.jpg' %}" alt="My image" class="dt" id="CS">
        </li>
        <li>
          <img src="{% static '\images\DR.jpg' %}" alt="My image" class="dt" id="DR">
        </li>
        <li>
          <img src="{% static '\images\LN.jpg' %}" alt="My image" class="dt" id="LN">
        </li>
        <li>
          <img src="{% static '\images\FA.jpg' %}" alt="My image" class="dt" id="FA">
        </li>
        <li>
          <img src="{% static '\images\EO.jpg' %}" alt="My image" class="dt" id="EO">
        </li>
        <li>
          <img src="{% static '\images\PG.jpg' %}" alt="My image" class="dt" id="PG">
        </li>
        <li>
          <img src="{% static '\images\YT.jpg' %}" alt="My image" class="dt" id="YT">
        </li>
        <li>
          <img src="{% static '\images\SV.jpg' %}" alt="My image" class="dt" id="SV">
        </li>
        <li>
          <img src="{% static '\images\LS.jpg' %}" alt="My image" class="dt" id="LS">
        </li>
        <li>
          <img src="{% static '\images\AA.jpg' %}" alt="My image" class="dt" id="AA">
        </li>
        <li>
          <img src="{% static '\images\NL.jpg' %}" alt="My image" class="dt" id="NL">
        </li>
        <li>
          <img src="{% static '\images\VB.jpg' %}" alt="My image" class="dt" id="VB">
        </li>
        <li>
          <img src="{% static '\images\ZG.jpg' %}" alt="My image" class="dt" id="ZG">
        </li>
        <li>
          <img src="{% static '\images\KM.jpg' %}" alt="My image" class="dt" id="KM">
        </li>
        <li>
          <img src="{% static '\images\MS.jpg' %}" alt="My image" class="dt" id="MS">
        </li>


    </div>

{% endblock %}
